 .site-nav.current{
   font-family: "Roboto" 
   font-size
 }
   
  /* .var(--accent-text-color);!!!!*/
 

 .body {
   font-family:'Roboto', Raleway;
   }
.list {
  list-style: none; 
}

.header-link{ вебстудио
font weight :700;
font size :26px
line-height: ;
letter-spacing://////// ;
width: 1600px;
color: 
rgba(255, 255, 255, 1);
background: #FFFFFF;
rgba(33, 150, 243, 1)
}
.site-nav studia{
font weight :700;
font size :14px
line-height: ;
letter-spacing://////// ;
width:  49px;
color: 
rgba(33, 150, 243, 1)
}
.portfolio {
font weight :500;
font size :14px
line-height: ;
letter-spacing://////// ;
width:  77px;
color: rgba(33, 33, 33, 1) 
}
.contacty {
font weight :500;
font size :14px
line-height: ;
letter-spacing://////// ;
width:  135px; 
color:
rgba(33, 33, 33, 1)
}
.email {
font weight :500;
font size :14px
line-height: ;
letter-spacing://////// ;
width:  135px; 
color; rgba(33, 150, 243, 1)
}
.phone {
font weight :500;
font size :14px
line-height: ;
letter-spacing://////// ;
width:  135px; 
color:
rgba(117, 117, 117, 1)
}
rgba(33, 33, 33, 1)
background: #FFFFFF;
rgba(33, 150,
.main
background: #FFFFFF;
color;rgba(255, 255, 255, 1){
bacground
   color: rgba(47, 48, 58, 1);
}
 
.hero-link {
   color: # цвет заголовка
   font-size:: 24pt;размер шрифта
   font-family: семейство шрифтов
   font-weight: normal
   letter spacing: 0.09em
   text-transform: uppercase;
}
p {

}
.button {
   color: ;
}
.button: hover,focus 
{
color:blue;
}
.footer{
color: rgba(47, 48, 58, 1);
}
